Body {
    background-color: Black;
     }

#General {
    background-image: url(Imagens/Fundo.jpg);
    background-size: cover;
    padding: 14px;
    margin: 50px -5px 0px -5px;
    color: #A04000;
    font-size: 20px;
    font-family: cursive;
    position: relative;
         }

#Menu {
    text-align: Center;
    font-size: 30px;
    font-family: fantasy;
    color: red;
      }

.Content {
    background-color: Black;
    float: left;
    padding: 20px;
    margin: 50px;
    border: Blue 3px solid;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    position: relative;
    left: 200px;
         }

.Clear {
    clear: both;
       }

.Title {
    color: #58D68D;
    text-decoration: Underline;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: Center;
       }

.Exemplo {
    position: relative;
    left: 450px;
    border: green 5px ridge;
    border-radius: 10px;
        }

.Absolute {
    position: absolute;
    
          }

.Fixed {
    position: fixed;
    right: 20px;
    Bottom: 100px;
    width: 100px;
    border: 4px red ridge;
    padding: 10px;
    color: green;
       }