* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: #CFD0DE;
    font-family: trebuchet, Helvetica, sans-serif;
   
}


/* Inicio Menu*/
#header {
    background-color: #D5A50E; 
    text-align: center;
    position: relative;
}

#title {
    font-size: 25px;
    font-family:monospace;
    font-weight: 900;
    padding: 30px;
}

h1 {
    display: inline;
    color: #373144;
}

#twhite {
    color: white;
    font-size: 2em;
}

#menu {
    color: white;
    font-family: cursive;
    font-size:20px;
    font-weight: 900;
    padding: 0px 0px 35px 0px;
}

 #menu a:link, #menu a:visited {
    text-decoration: none;
    color: white;
    padding: 7px;
    border-radius: 10px;
}


 #menu a:hover {
    background-color: gray;
    color: #373144;
}
/*Fim do menu*/

/*Inicio dos conteudos*/
.Contents {
    
    background-color: white;
    text-align: center;
    width: 700px;
    margin: 20px;
    position: relative;
    left: 350px;
}

.Images {
    border: 5px white solid;
    border-radius: 10px;
    width: 640px;
    height: 425px;
    text-align: center;
}

.topic {
    color: gold;
    text-align: left;
    padding: 20px 0px 0px 30px;
}

.Dtopic {
    color: black;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding: 0px 0px 10px 30px;
    font-size: 12px;
}



p {
    text-align: left;
    padding: 5px 20px 8px 20px;
    font-size: 13px;
    font-family: cursive;
    font-weight: bold;

}

.news {
    float: right;
    position: absolute;
    left: 1100px;
    top: 20px;
    background-color: white;
    border: 3px white ridge;
    border-radius: 7px;
    width: 250px;
    height: 250px;
}

.news p {
    padding: 2px 10px 1px 10px;
}



#rtitle {
    background-color: gray;
    color: #373144;
    border: 3px gray ridge;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
}

.category {
    float: right;
    position: absolute;
    left: 1100px;
    top: 280px;
    background-color: white;
    border: 3px white ridge;
    border-radius: 7px;
    width: 250px;
    height: 250px;
}


.Subcategory a:link, .Subcategory a:visited {
    padding: 2px 0px 4px 10px;
    display: block;
    color: gold;
    text-decoration: none;
    font-size: 20px;
}

.Subcategory a:hover {
    color: blue;
    background-color: #D5A50E;
}

.Subcategory a:active {
    color: #D5A50E;
    background-color: blue; 
}

.clear {
    clear: both;
}

.Leiamais a:link, .Leiamais a:visited {
    text-decoration: none;
    color: gold;
    padding: 0px 0px 2px 15px;
    font-size: 13px;

}

.hide-text {
    display: none;
}

.read-more-btn {
    cursor: pointer;
    color: gold;
    text-decoration: underline;
    margin-bottom: 15px;
}